{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:import/errors"
    ],
    "overrides": [],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module",
        "tsconfigRootDir": "."
    },
    "plugins": [
        "react",
        "react-hooks",
        "@typescript-eslint",
        "import",
        "unused-imports"
    ],
    "rules": {
        "sort-imports": [
            "error",
            {
                "ignoreCase": true,
                "ignoreDeclarationSort": true
            }
        ],
        "react/jsx-uses-react": "off",
        "react/react-in-jsx-scope": "off",
        "no-redeclare": "off",
        "no-restricted-imports": "off",
        "import/no-unresolved": "off",
        "react/display-name": "off",
        "import/named": "off",
        "@typescript-eslint/no-unused-vars": [
            "error",
            {
              "varsIgnorePattern": "^_",
              "argsIgnorePattern": "^_"
            }
          ],
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".ts", ".tsx"]
            }
        }
    },

}